#introvolumes{
	height: 100vh;
	background: radial-gradient(
		110% 110% ellipse at bottom left,
		map-get($cores, ciano) 0%,
		transparentize(map-get($cores, ciano), 1) 100%
	), map-get($cores, azulmarinho);
	background-position: fixed;
	@include display(flex);
	@include justify-content(center);
	.container{
		width: 1000px;
		@include display(flex);
		
		.logos, .btvolumes{
			width: 50%;
		}
	}

}