@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Source+Sans+Pro:400,400i,600,600i');

$fonte-corpo: 'Source Sans Pro', sans-serif;
$fonte-heading: 'Roboto Slab', serif;

$cores: (
	texto_primario: hsl(0,0,20%),
	texto_secundario: hsl(0,0,40%),
	texto_terciario: hsl(0,0,60%),
	azulmarinho: #001F3C,
	azul: #005CB2,
	verdeclaro: #A6D8BE,
	ciano: #0090A7
);

body{
	min-width: 1024px; 
	margin: 0;
	padding: 0;
	font-family: $fonte-corpo;
	font-size: 16px;
	line-height: 1.618;
	color: map-get($cores, texto_primario);
	min-height: 100vh;
	overflow-x: hidden;
	@include hyphens(auto);
}

%textomenor{
	font-size: 0.9em;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6{
	font-family: $fonte-heading;
	font-weight: 400;
	margin: 0;
	line-height: 1.2;
}