@charset "UTF-8";

@import 'bourbon/bourbon';
@import 'normalize';
@import 'box-sizing-fix';

@import 'padroes';


// 1. Sumário
$largura-sumario: 360px;
$padding-sumario-h: 15px;

#sumario{
	position: fixed;
	top: 0;
	left: 0;
	width: $largura-sumario;
	height: 100vh;
	background-color: hsl(0,0,95%);
	overflow: scroll;
	// opacity: 0.2;
	// @include transition(opacity 0.1s linear);
	// &:hover{
	// 	opacity: 1;
	// }

	@media print {
		display: none;
	}

}

#header{
	display: block;
	width: 100%;
	div.cont-titulo{
		background: 
		-webkit-gradient(
			linear, 
			left top, left bottom, 
			from(transparentize(map-get($cores, ciano), 1)),
			color-stop(30%, transparentize(map-get($cores, ciano), 1)),
			to(transparentize(map-get($cores, ciano), 0.4))
		),
		map-get($cores, azulmarinho);

		background: 
		linear-gradient(
			to bottom, 
			transparentize(map-get($cores, ciano), 1) 0%,
			transparentize(map-get($cores, ciano), 1) 30%,
			transparentize(map-get($cores, ciano), 0.4) 100%
		),
		map-get($cores, azulmarinho);
		
		// background-color: map-get($cores, azulmarinho);
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		width: 100%;
		padding: $padding-sumario-h;
		padding-top: 0;
		.numero-capitulo{
			@include display(flex);
			text-align: center;
			@include align-items(center);
			background-color: map-get($cores, verdeclaro);
			color: map-get($cores, azulmarinho);
			padding: 0.6em 0.6em 0.2em;
			margin-bottom: 0.4em;
			font-family: $fonte-heading;
			font-weight: 700;
			font-size: 2em;
			line-height: 1;


		}

		.titulo_capitulo{
			width: 100%;
			display: block;
			text-align: left;
			color: map-get($cores, verdeclaro);
			font-weight: 300;
			font-size: 1.3em;
			text-shadow: 0px 1px 3px map-get($cores, azulmarinho);
		}

	}

	div.navegacao-cap{
		height: 30px;
		width: 100%;
		@include  display(flex);
		a{
			&, &:link, &:visited, &:hover, &:focus, &:active{
				text-decoration: none;
			}
			color: map-get($cores, ciano);
			width: 34%;
			height: 100%;
			display: inline-block;
			text-align: center;
			font-size: 1em;
			font-weight: bold;
			svg{
				display: inline;
				height: 0.8em;
				width: auto;
				&{
					fill: map-get($cores, ciano);
				}
			}

			&.cap{
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				&.prev{
					svg{
						@include transform(rotate(180deg));
					}
				}
			}
		}
	}

}



#subcapitulos{
	padding: $padding-sumario-h*2 0;
	line-height: 1.4;



	a{
		&, &:link, &:visited, &:hover, &:focus, &:active{
			text-decoration: none;
			color: black;
		}
	}

	& > a{
		font-weight: bold;
		display: block;
		padding: 0.6em $padding-sumario-h;
		counter-increment: subcaps;
		// color: map-get($cores, azulmarinho) !important;
		&:before{
			content: counter(subcaps)'. ';
			font-weight: bold;
			display: inline;
		}
		& + a{
			margin-top: 1em;
		}
	}

	ol{
		font-size: 0.9em;
		padding: 0;
		margin: 0;
		& + a{
			margin-top: 1em;
		}
	}

	li{
		list-style-type: none;
		padding: 0.3em 0;
		padding-left: calc( 1em + #{$padding-sumario-h} );
		padding-right: $padding-sumario-h;
		counter-increment: subsubcaps;
		&:before{
			content: counter(subcaps) '.' counter(subsubcaps) '. ';
			font-weight: bold;
			display: inline;
		}
	}

	& > a, li{
		@include transition(all 0.1s linear);
		@include transition-property(background-color);
		background-color: transparent;
		&:hover{
			cursor: pointer;
			background-color: transparentize( map-get($cores, verdeclaro), 0.4 );
		}
	}
}


// 2. Texto
$largura-artigo: 630px;
main{
	width: calc(100% - #{$largura-sumario});
	margin-left: $largura-sumario;
	@media print {
		width: 100%;
		margin-left: 0;
	}
}

article{
	width: 100%;
	margin-top: 3em;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include flex-wrap(wrap);

	& > {

		*{
		width: $largura-artigo;
		& + *{
				margin-top: 1em;
			}
		}

		h1, h2, h3, h4, h5{
			color: map-get($cores, ciano);
		}

		h2, h3, h4, h5{
			&:before{
				display: inline;
				color: hsl(0,0,35%);
				// font-size: 0.9em;
			}
		}

		h1{
			font-size: 3em;
		}

		h2{
			font-size: 2em;
			counter-increment: heading_dois;
			&:before{
				content: counter(heading_dois)'. ';
			}
			counter-reset: heading_tres;
		}

		h3{
			font-size: 1.4em;
			counter-increment: heading_tres;
			&:before{
				content: counter(heading_dois) '.' counter(heading_tres) ' ';
			}
			counter-reset: heading_quatro;
		}

		h4{
			font-size: 1em;
			counter-increment: heading_quatro;
			&:before{
				content: counter(heading_dois) '.' counter(heading_tres) '.' counter(heading_quatro) ' ';
			}
		}


	}

	
}





