@charset "UTF-8";

@import 'bourbon/bourbon';
@import 'normalize';
@import 'box-sizing-fix';

@import 'padroes';

@import 'intro_portal';
@import 'intro_volume';

// 1. Sumário
$largura-sumario: 360px;
$padding-sumario-h: 15px;

#nav{
	position: fixed;
	top: 0;
	left: 0;
	width: $largura-sumario;
	height: 100vh;
	background-color: hsla(190, 20%, 96%, 1);
	overflow: scroll;
	// opacity: 0.2;
	// @include transition(opacity 0.1s linear);
	// &:hover{
	// 	opacity: 1;
	// }

	@media print {
		display: none;
	}

	&.intro{
		background: 
		-webkit-gradient(
			linear, 
			left top, left bottom, 
			from(transparentize(map-get($cores, ciano), 1)),
			color-stop(60%, transparentize(map-get($cores, ciano), 1)),
			to(transparentize(map-get($cores, ciano), 0))
		),
		map-get($cores, azulmarinho);

		background: 
		linear-gradient(
			to bottom, 
			transparentize(map-get($cores, ciano), 1) 0%,
			transparentize(map-get($cores, ciano), 1) 60%,
			transparentize(map-get($cores, ciano), 0) 100%
		),
		map-get($cores, azulmarinho);
		
	}

	&.fichatecnica{
		height: 100%;
	}

}

#headerintro{
	.outrosvolumes{
		background-color: hsla(0,0,0%,0.2);
		padding: 0 $padding-sumario-h;
		@include display(flex);
		@include justify-content(space-between);
		font-weight: 300;
		font-size: 0.9em;

		&.umlink{
			@include flex-direction(row-reverse);
		}

		a,button{
			display: inline-block;
			line-height: 1;
			padding: 0.6em 0;
			text-decoration: none;
			color: map-get($cores, ciano);
			@include transition(color 0.2s linear);

			svg{
				height: 1em;
				width: auto;
				line-height: 1;
				display: inline;
				vertical-align: middle;
				@include transform(rotate(180deg));
				*{
					fill: map-get($cores, ciano);
					@include transition(fill 0.2s linear);

				}
			}
			&:hover{
				color: white;
				svg *{
					fill: white;
				}
			}
		}
	}

	.logo-volume{
		width: 100%;
		@include display(flex);
		@include justify-content(center);
		@include flex-wrap(wrap);
		img{
			width: 40%;
			height: auto;
		}

		h1{
			font-size: 1.2em;
			text-align: center;
			width: 100%;
			color: map-get($cores, ciano);
		}
	}
}

nav#navcapitulos{
	width: 100%;
	margin-top: 2em;
	padding: 0 $padding-sumario-h; 
	ol{
		width: 100%;
		padding: 0;
		margin: 0;
		list-style-type: none;
		li{
			width: 100%;
			margin-bottom: 0.3em;
			a{
				width: 100%;
				color: map-get($cores, ciano);
				@include transition(color 0.1s linear);	
				text-decoration: none;
				font-size: 1em;
				font-family: $fonte-heading;
				font-weight: 300;
				@include display(flex);

				p{
					margin: 0;
					line-height: 1.4;
				}

				div.numero, div.titulocap{
					background-color: hsla(0,0,0%,0.4);
					@include transition(background-color 0.1s linear);
				}

				div.numero{
					padding: 1em 0;
					width: 40px;
					@include flex-shrink(0);
					margin-right: 0.3em;
					@include  display(flex);
					@include justify-content(center);
					@include align-items(center);
					p{
						font-weight: bold;
					}
				}

				div.titulocap{
					padding: 1em;
					width: 100%;
				}


				&:hover{
					color: map-get($cores, verdeclaro);
					div.numero, div.titulocap{
						background-color: hsla(0,0,0%,0.6);
					}
				}
			}
		}
	}
}

#header{
	display: block;
	width: 100%;
	background: 
	-webkit-gradient(
		linear, 
		left top, left bottom, 
		from(transparentize(map-get($cores, ciano), 1)),
		color-stop(20%, transparentize(map-get($cores, ciano), 1)),
		to(transparentize(map-get($cores, ciano), 0.4))
	),
	map-get($cores, azulmarinho);

	background: 
	linear-gradient(
		to bottom, 
		transparentize(map-get($cores, ciano), 1) 0%,
		transparentize(map-get($cores, ciano), 1) 20%,
		transparentize(map-get($cores, ciano), 0.4) 100%
	),
	map-get($cores, azulmarinho);

	div.volume{
		background-color: hsla(0,0,0%,0.2);
		padding: 0 $padding-sumario-h;
		@include display(flex);
		@include justify-content(space-between);
		font-weight: 300;
		font-size: 0.9em;

		a{
			display: inline-block;
			line-height: 1;
			padding: 0.6em 0;
			text-decoration: none;
			color: map-get($cores, ciano);
			@include transition(color 0.2s linear);

			svg{
				height: 1em;
				width: auto;
				line-height: 1;
				display: inline;
				vertical-align: middle;
				@include transform(rotate(180deg));
				*{
					fill: map-get($cores, ciano);
					@include transition(fill 0.2s linear);

				}
			}
			&:hover{
				color: white;
				svg *{
					fill: white;
				}
			}
		}
	}
	div.cont-caps{
		
		
		// background-color: map-get($cores, azulmarinho);
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		width: 100%;
		padding: $padding-sumario-h;
		padding-top: 0;
		margin-top: 1.5em;
		position: relative;

		.bt-caps{
			@include display(flex);
			@include flex-wrap(wrap);

			a{
				text-decoration: none;
				@include user-select(none);
				width: 30px;
				height: 36px;
				margin-right: 0.3em;
				margin-bottom: 0.3em;
				border: 1px solid transparent;
				font-size: 1.2em;
				line-height: 1;
				background-color: rgba(0,0,0,0.4);
				color: map-get($cores, ciano);
				@include transition(all 0.2s linear);
				@include transition-property(color, background-color);
				@include display(inline-flex);
				@include justify-content(center);
				@include align-items(center);
				&:hover:not(.atual), &.atual{
					background-color: rgba(0,0,0,0.6);
					color: map-get($cores, verdeclaro);
				}

				&.atual{
					border: 1px solid map-get($cores, verdeclaro);
				}

				&[disabled]:hover{
					cursor: default;
				}
			}
		}

		.titulo_capitulo{
			margin-top: 0.5em;
			width: 100%;
			display: block;
			text-align: left;
			color: map-get($cores, verdeclaro);
			font-weight: 300;
			font-size: 1.3em;
			line-height: 1.5;
			text-shadow: 0px 1px 3px map-get($cores, azulmarinho);
		}
	}
}



#subcapitulos{
	padding: $padding-sumario-h 0 $padding-sumario-h*2; 
	line-height: 1.4;



	a{
		&, &:link, &:visited, &:hover, &:focus, &:active{
			text-decoration: none;
			color: black;
		}
	}

	& > a{
		font-weight: bold;
		display: block;
		padding: 0.6em $padding-sumario-h*2 0.6em $padding-sumario-h;
		counter-increment: subcaps;
		// color: map-get($cores, azulmarinho) !important;
		margin-top: 0.5em;
		position: relative;
		&:first-child{
			margin-top: 0;
		}
		&:before{
			content: counter(subcaps)'. ';
			font-weight: bold;
			display: inline;
		}

		&.atual:after{
			font-size: 0.6em;
			line-height: 1;
			color: map-get($cores, ciano);
			content: '◀';
			position: absolute;
			right: $padding-sumario-h;
			top: 50%;
			@include transform(translateY(-50%));
		}
		
	}

	ol{
		font-size: 0.9em;
		padding: 0;
		margin: 0;
		& + a{
			margin-top: 1em;
		}
	}

	li{
		list-style-type: none;
		counter-increment: subsubcaps;
		& > a{
			position: relative;
			padding: 0.3em 0;
			display: block;
			padding-left: calc( 1em + #{$padding-sumario-h} );
			padding-right: $padding-sumario-h*2;
			&:before{
				content: counter(subcaps) '.' counter(subsubcaps) '. ';
				font-weight: bold;
				display: inline;
			}
			&.atual:after{
				font-size: 0.6em;
				line-height: 1;
				color: map-get($cores, ciano);
				content: '◀';
				position: absolute;
				right: $padding-sumario-h;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}

	& > a, li{
		@include transition(all 0.1s linear);
		@include transition-property(background-color);
		background-color: transparent;
		&:hover{
			cursor: pointer;
			background-color: transparentize( map-get($cores, verdeclaro), 0.4 );
		}
	}
}


// 2. Loader
#loader{
	$tamanho-loader: 60px;
	display: none;
	position: fixed;
	top: 50%;
	left: calc(50% + #{$largura-sumario}/2 );
	@include transform(translate(-50%, -50%));
	animation: loaderSpin 5s linear 0s infinite;	
	width: $tamanho-loader;
	height: $tamanho-loader;
	&.visivel{
		display: block;
	}
	


	div.posrel{
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		

		div{
			$numero-divs: 5;
			$tempo-anim: 1s;
			$delay: $tempo-anim/$numero-divs;
			opacity: 0;
			border-style: solid;
			border-width: 2px;
			border-color: map-get($cores, ciano);
			background-color: transparentize( map-get($cores, ciano) , 0.8);
			&:nth-child(even){
				background-color: rgba(255, 255,255, 0.8);
			}
			border-radius: $tamanho-loader/10;
			position: absolute;
			top: 50%;
			left: 50%;
			animation: divCresce $tempo-anim ease-out 0s infinite;
			
			width: $tamanho-loader/2;
			height: $tamanho-loader/2;
			@for $i from 1 through $numero-divs {
				&:nth-child(#{$i}) {
					@include animation-delay(#{$delay * ($i - 1)});
				}
			}

		}
	}
	@include keyframes(loaderSpin){
		from{
			@include transform(translate(-50%, -50%) rotate(0deg));
		}
		to{
			@include transform(translate(-50%, -50%) rotate(-360deg));
		}
	}

	@include keyframes(divCresce){
		0%{
			opacity: 0;
			@include transform(translate(-50%, -50%) scale(0) rotate(0deg));
		}

		20%{
			opacity: 1;
		}

		70%{
			opacity: 1;
		}

		100%{
			opacity: 0;
			@include transform(translate(-50%, -50%) scale(2) rotate(90deg));
		}
	}
}


// 3. Texto
$largura-artigo: 630px;
$largura-artigo-maxima: 720px;
$largura-artigo-minima: 450px;

main{
	width: calc(100% - #{$largura-sumario});
	margin-left: $largura-sumario;
	@media print {
		width: 100%;
		margin-left: 0;
	}
}

article{
	width: 100%;
	padding-top: 3em;
	padding-bottom: 5em;
	position: relative;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include flex-wrap(wrap);
	opacity: 1;
	@include transition(opacity 0.2s linear);
	&.carregando{
		opacity: 0.1;
	}

	*{
		margin: 0;
		margin-top: 1em;
		&:first-child{
			margin-top: 0;
		}
	}

	span.pagina:first-of-type + *{
		margin-top: 0;
	}


	& > {
		*{
			width: $largura-artigo;
		}
	}

	div.grid-2{
		font-size: 0.9em;
		margin-top: 2em;
		& + *{
			margin-top: 2em;
		}
		@include display(flex);
		& > *{
			margin: 0;
			width: 50%;
			margin-right: 2em;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	h1, h2, h3, h4{
		color: map-get($cores, ciano);

	}

	h2, h3, h4{
		margin-top: 1.5em;
	}

	h1{
		font-size: 3em;
	}

	h2{
		font-size: 3.2em;
	}

	h3{
		font-size: 1.8em;
	}

	h4{
		font-size: 1.4em;
	}

	h5, h6{
		font-family: $fonte-corpo;
		font-size: 1em;
		color: inherit;
		margin-top: 1.5em;
		& + *{
			margin-top: 1em;
		}
	}

	h5{
		font-weight: bold;
	}

	h6{
		font-style: italic;
	} 

	p{
		margin-top: 1.25em;
		&.formula{
			position: relative;
			width: auto;
			min-width: $largura-artigo;
			max-width: 100%;
			span.numero_formula{
				@extend %textomenor;
				line-height: 1;
				margin: 0;
				padding: 0.1em;
				position: absolute;
				top: 0;
				right: 0;
				color: hsla(0, 0%, 60%, 1.0);
				border: 1px solid hsla(0, 0%, 80%, 1.0);
				background-color: white;
			}
		}
	}

	a{
		color: map-get($cores, azul);
		&:link{
			overflow-wrap: break-word;
			word-break: break-all;
		}
	}

	code{
		font-size: 0.9em;
		padding: 0.1em 0.4em;
		background-color: hsl(0,0,90%);
	}

	pre{
		padding: 2em;
		background-color: hsl(0,0,90%);
		max-height: 30em;
		overflow: scroll;
		font-size: 0.8em;
		-moz-tab-size: 4; /* Code for Firefox */
	      -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
		     tab-size: 4;
		margin-top: 2em;
		& + *{
			margin-top: 2em;
		}


		code{
			font-size: 1em;
			background-color: transparent;
			padding: 0;
		}
	}

	
	ol, ul{
		padding-left: 2em;
		margin-top: 1.5em;
		li{
			margin-top: 0;
		}
		& + *{
			margin-top: 1.5em;
		}
	}

	ol{
		&.numeros{
			list-style-type: decimal;
		}

		&.letras{
			list-style-type: lower-alpha;
		}
	}


	figure{
		width: auto;
		height: auto;
		min-width: $largura-artigo-minima;
		max-width: $largura-artigo-minima;
		@include transition(max-width 0.2s ease-out);
		margin-top: 3em;
		position: relative;


		&:after{
			content: '';
			position: absolute;
			right: 5px;
			top: 5px;
			width: 40px;
			height: 40px;
			background-image: url(../img/ico_expand.svg);
			background-size: contain;
			opacity: 0;
			@include transition(opacity 0.2s linear);
		}

		&:hover{
			cursor: pointer;	
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
		}

		&.maior{
			max-width: $largura-artigo-maxima;
			&:after{
				background-image: url(../img/ico_collapse.svg);
			}
		}

		& + *{
			margin-top: 3em;
		}
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);

		img{
			width: 100%;
			height: auto;
			box-shadow: 0px 1px 4px rgba(0,0,0,0.15);
		}

		figcaption{
			margin-top: 0;
			width: 100%;
			text-align: left;
			@extend %textomenor;
			color: map-get($cores, texto_secundario);
		}
	}

	blockquote{
		padding-left: 4em;
		@extend %textomenor;
		margin-top: 2em;
		& + *{
			margin-top: 2em;
		}
	}


	table{
		width: auto;
		min-width: $largura-artigo;
		max-width: 100%;
		border-collapse: collapse;
		@extend %textomenor;
		// margin: 0 auto;
		margin-top: 3em;
		& + *{
			margin-top: 3em;
		}

		caption{
			// width: 100%;
			text-align: center;
			caption-side: bottom;
			color: map-get($cores, texto_secundario);
		}

		thead{
			border-bottom: 1px solid black;
		}

		tbody{
			border-bottom: 1px solid black;
			td, th{
				padding-top: 0.6em;
				padding-bottom: 0.6em;
				border-bottom: 1px solid black;
			}
		}

		td, th{
			padding-left: 0.6em;
			padding-right: 0.6em;
			// &:first-child{
			// 	padding-left: 0;
			// }

			// &:last-child{
			// 	padding-right: 0;
			// }
		}

		th{
			text-align: left;
		}
	}

	span#pag-fixa, span.pagina{
		@extend %textomenor;
		color: map-get($cores, texto_terciario);
		text-align: right;
		padding-right: 1em;
		display: block;
		
		&:before{
			content: 'p. ';
			display: inline;
		}
	}

	span.pagina{
		width: 100%;
		position: relative;
		margin-top: 3em;
		background-color: white;
		z-index: 2;
		&:after {
		    content: "";
		    width: 100%;
		    height: 1px;
		    top: -1px;
		    left: 0;
		    position: absolute;
		    background: -webkit-gradient(linear, right top, left top, from(hsla(0, 0%, 80%, 1)), to(hsla(0, 0%, 95%, 1)));
		    background: linear-gradient(to left, hsla(0, 0%, 80%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
		    z-index: -1;
		}

		
		display: none;

		& ~ span.pagina{
			display: block;
			& + *{
				margin-top: 0em;
			}
		}

		&.esconder{
			opacity: 0;
		}
	}

	span#pag-fixa{
		margin-top: 0;
		padding: 0 1em 0.5em 0.5em;
		width: auto;
		position: fixed;
		top: 0;
		right: 0;
		background-color: hsla(0,0,100%,0.9);
	}

	

	%divsdestaque{
		margin-top: 2em;
		& + *{
			margin-top: 2em;
		}
		h5{
			font-size: 1.3em;
			font-family: $fonte-heading;
		}

		h6{
			font-size: 1.1em;
			font-family: $fonte-corpo;
			font-weight: bold;
		}
	}

	button.botao-rodape{
		@include appearance(none);
		outline: none;
		display: inline;
		height: auto;
		width: auto;
		margin: 0;
		padding: 0.2em 0.3em;
		font-family: $fonte-corpo;
		font-size: 0.9em;
		line-height: 1;
		background-color: hsl(0,0,90%);
		border-radius: 2px;
		// border: 1px solid hsl(0,0,50%);
		border: none;
		vertical-align: top;
		&:before{
			display: inline;
			content: attr(data-numero);
		}
		&:hover{
			cursor: pointer;
		}

		&.focus{
			outline: none;
		}

		@include transition(all 0.1s linear);
		@include transition-property(color, background-color);
		&.ativado{
			background-color: map-get($cores, ciano);
			color: white;
		}

	}

	.nota-rodape{
		@extend %divsdestaque;
		position: absolute;
		@extend %textomenor;
		padding: 1em 1em 2em;
		margin: 0 10px;
		border: 1px solid map-get($cores, ciano);
		background-color: white;
		border-bottom-width: 4px;
		width: auto;
		max-width: $largura-artigo - 150px;
		z-index: 3;
		display: none;
		opacity: 0;
		@include transform(scale(0.5));
		@include transition(all 0.2s ease-out);
		@include transition-property(opacity, transform);
		@include transform-origin(50% 100%);
		&.origem-top{
			@include transform-origin(50% 0%);

		}

		&.db{
			display: block;
		}
		&.visivel{
			opacity: 1;
			@include transform(scale(1));
			z-index: 4;
		}

		&.easing-saida{
			@include transition-timing-function(ease-in);
		}

		button.fechar{
			@include appearance(none);
			outline: none;
			margin: 0;
			padding: 0;
			background-color: transparent;
			width: 12px;
			height: 12px;
			border: none;
			display: block;
			img{
				width: 100%;
				height: auto;
			}

			&:hover{
				cursor: pointer;
			}

			& + *{
				margin-top: 0.4em;
			}
		}
	}

	.destaque{
		@extend %divsdestaque;
		padding: 1em 1em;
		border-left: 5px double map-get($cores, ciano);
	}

	.caixa{
		@extend %divsdestaque;
		@extend %textomenor;
		padding: 1.5em 1.5em 3em;
		background: hsla(0,0,95%,1);
		background: linear-gradient(
			to top,
			hsla(0,0,95%,1) 0%,
			hsla(0,0,95%,0.2) 80%
		);
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top: 1px solid map-get($cores, ciano);
		border-bottom: 3px solid map-get($cores, ciano);
		code{
			background-color: white;
			border: 1px solid hsla(0,0,0%,0.2);
		}
	}

	.exercicio{
		@extend %divsdestaque;
		@extend %textomenor;
		width: $largura-artigo-maxima;
		padding: 1em #{($largura-artigo-maxima - $largura-artigo) / 2} 2em;

		border-color: black;
		border-style: dotted;
		border-width: 0;
		border-top-width: 1px;
		border-bottom-width: 1px;
		ol{
			list-style-type: lower-latin;
			li{
				& + li{
					margin-top: 0.6em;
				}
			}
		}

		& + .exercicio{
			border-top-width: 0px;
			margin-top: 0;
		}
	}

	&.capitulo{
		h2, h3, h4{

			&:before{
				display: inline;
				color: map-get($cores, texto_terciario);
				vertical-align: baseline;
				// font-size: 0.9em;
			}
		}

		h2{
			font-size: 2.5em;
			color: map-get($cores, ciano);
			counter-increment: heading_dois;
			&:before{
				font-size: 0.7em;
				content: counter(heading_dois)'. ';
			}
			counter-reset: heading_tres;
		}

		h3{
			counter-increment: heading_tres;
			&:before{
				font-size: 0.8em;
				content: counter(heading_dois) '.' counter(heading_tres) ' ';
			}
			counter-reset: heading_quatro;
		}

		h4{
			counter-increment: heading_quatro;
			&:before{
				font-size: 0.9em;
				content: counter(heading_dois) '.' counter(heading_tres) '.' counter(heading_quatro) ' ';
			}
		}
	}

	&.fichatecnica{
		

		h5{
			margin-top: 2em;
			font-family: $fonte-heading;
			color: map-get($cores, texto_primario);
			& + *{
				margin-top: 0;
			}
		}

		.fichacatalografica{
			border: 1px solid black;
			margin-top: 3em;
			.topo{
				padding: 1em;
				border-bottom: 1px solid black;
				h5{
					margin-top: 0;
				}	
			}

			.dados{
				font-size: 0.9em;
				margin: 0;
				padding: 1em;
				@include display(flex);
				p.codigo{
					margin: 0;
					margin-right: 1em;
					font-weight: bold;
				}

				.descricao{
					margin: 0;
					p.cdu{
						text-align: right;
					}
				}
			}
			
		}

		div.marcas{
			margin-top: 2em;
			max-width: 100%;
			width: auto;
			min-width: $largura-artigo;
			@include display(flex);
			@include justify-content(space-around);

			& > a{
				display: inline-block;
				height: 40px;
				margin: 0;
				margin-right: 1em;
				width: auto;

				&.logo_funape{
					height: 30px;
				}

				&.logo_ciar{
					height: 30px;
				}
				&.logo_uab{
					height: 40px;
				}
				&.logo_brasil{
					height: 35px;
				}



				svg{
					display: block;
					width: auto;
					height: 100%;
					path, polygon, rect, circle, ellipse{
						fill: map-get($cores, texto_primario);
					}
				}
			}
		}


	}
}





